<div class="container-fluid">
    <div class="row mt-2 p-3">
        <div class="col-5 mx-auto border border-secondary rounded shadow p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-between">
                <p class="font-weight-bold col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
                <p class="font-weight-light col-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
                <p class="font-italic col-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
            </div>
        </div>
        <div class="col-5 mx-auto border border-secondary rounded shadow p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-between">
                <p class="font-weight-bold col-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
                <p class="font-weight-light col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
                <p class="font-italic col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    quidem exercitationem veritatis qui id
                    voluptate magni, nemo numquam aspernatur dolorum ullam animi optio reprehenderit! Repellendus
                    nesciunt
                    sunt
                    saepe ipsa recusandae?
                </p>
            </div>
        </div>
    </div>
</div>